@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fff;
    font-family: Roboto, sans-serif;
  }

  * {
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  svg {
    width: auto;
    height: 100%;
  }

  .centralize {
    @apply mx-auto my-0;
  }
}
